# I-Data Cleaning

This is the previous step to the analysis of the shark attacks database.


In this notebook we:
* import the messy data set Shark Attack
* prepare it to be analyzed
* export it as a clean CSV data file

We will need the following libraries for this data cleaning task:

In [603]:
import numpy as np
import pandas as pd
import re
import collections
from collections import Counter
from datetime import datetime

In [604]:
db = pd.read_csv('attacks.csv', encoding='cp1252')

### DataBase overview

In [605]:
len(db)

25723

In [606]:
db.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [607]:
len(db.columns )

24

In [608]:
db.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

###

## Keeping only relevant data

### Managing Nulls
First of all, we wish to get rid of the missing data. Using ``.dropna()``, we remove all the missing values, reducing considerably the size of the sample.

For simplicity and performance reasons, the columns ``'Unnamed: 22'`` and ``'Unnamed: 23'`` will no longer be taken into consideration.

In [609]:
db = db.iloc[:,:-2]
db

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The rows filled with `NaN` values are very numerous, we don't need them either.

In [610]:
print('Number of items PRE-cleaning:', len(db))
db = db.dropna(how='all') 
print('Number of items POST-cleaning:', len(db))

Number of items PRE-cleaning: 25723
Number of items POST-cleaning: 8703

Looking closely, many empty-filled rows didn't disapear in the previous step. In these cases, ``'Case Number'`` column contains the value '0'.

In [611]:
db = db[db['Case Number'] != '0']
db = db[db['Case Number'] != 'xx']
print('Number of items POST-POST-cleaning:', len(db))

Number of items POST-POST-cleaning: 6302

Columns ``'href formula'``, ``'href'``, ``'pdf'`` contain information but we will not be needing it for our study

In [612]:
columns_to_drop = ['href formula', 'href', 'pdf']
db.drop(columns=columns_to_drop, inplace=True)
db

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

##

## Age of the victims

Now that the DataFrame is more compact, we can start working with individual series.

In [613]:
ages = db['Age'].dropna()

From the 'collections' library, ``Counter`` will store the elements of the given serie as dictionnary keys and keep a count of the number of occurrences of any value in the container.

In [614]:
Counter(ages)

Counter({'57': 16,
         '11': 37,
         '48': 28,
         '18': 150,
         '52': 35,
         '15': 139,
         '12': 73,
         '32': 69,
         '10': 56,
         '21': 119,
         '34': 50,
         '30': 76,
         '60': 16,
         '33': 44,
         '29': 78,
         '54': 17,
         '41': 38,
         '37': 42,
         '56': 10,
         '19': 142,
         '25': 108,
         '69': 10,
         '38': 48,
         '55': 23,
         '35': 69,
         '46': 27,
         '45': 32,
         '14': 101,
         '40s': 3,
         '28': 80,
         '20': 141,
         '24': 106,
         '26': 83,
         '49': 28,
         '22': 117,
         '7': 22,
         '31': 52,
         '17': 154,
         '40': 56,
         '13': 94,
         '42': 38,
         '3': 5,
         '8': 28,
         '50': 33,
         '16': 138,
         '82': 1,
         '73': 3,
         '20s': 7,
         '68': 7,
         '51': 20,
         '39': 38,
         '58': 15,
         'Teen': 9,
         '47': 30,
         '61': 13,
         '65': 5,
         '36': 43,
         '66': 4,
         '43': 43,
         '60s': 1,
         '9': 35,
         '72': 1,
         '59': 11,
         '6': 14,
         '27': 78,
         '64': 4,
         '23': 80,
         '71': 3,
         '44': 29,
         '62': 8,
         '63': 9,
         '70': 6,
         '18 months': 1,
         '53': 13,
         '30s': 7,
         '50s': 2,
         'teen': 5,
         '77': 3,
         '74': 1,
         '28 & 26': 1,
         '5': 7,
         '86': 1,
         '18 or 20': 1,
         '12 or 13': 1,
         '46 & 34': 1,
         '28, 23 & 30': 1,
         'Teens': 1,
         '36 & 26': 1,
         '8 or 10': 2,
         '84': 1,
         '\xa0 ': 1,
         ' ': 2,
         '30 or 36': 1,
         '6½': 1,
         '21 & ?': 1,
         '75': 2,
         '33 or 37': 1,
         'mid-30s': 1,
         '23 & 20': 1,
         ' 30': 1,
         '7      &    31': 1,
         ' 28': 1,
         '20?': 1,
         "60's": 1,
         '32 & 30': 1,
         '16 to 18': 1,
         '87': 1,
         '67': 1,
         'Elderly': 1,
         'mid-20s': 1,
         'Ca. 33': 1,
         '74 ': 1,
         '45 ': 1,
         '21 or 26': 1,
         '20 ': 1,
         '>50': 1,
         '18 to 22': 1,
         'adult': 1,
         '9 & 12': 1,
         '? & 19': 1,
         '9 months': 1,
         '25 to 35': 1,
         '23 & 26': 1,
         '1': 2,
         '(adult)': 1,
         '33 & 37': 1,
         '25 or 28': 1,
         '37, 67, 35, 27,  ? & 27': 1,
         '21, 34,24 & 35': 1,
         '30 & 32': 1,
         '50 & 30': 1,
         '17 & 35': 1,
         'X': 1,
         '"middle-age"': 1,
         '13 or 18': 1,
         '34 & 19': 1,
         '33 & 26': 1,
         '2 to 3 months': 1,
         'MAKE LINE GREEN': 1,
         ' 43': 1,
         '81': 1,
         '"young"': 1,
         '7 or 8': 2,
         '78': 2,
         '17 & 16': 1,
         'F': 1,
         'Both 11': 1,
         '9 or 10': 1,
         'young': 2,
         '36 & 23': 1,
         '  ': 1,
         'A.M.': 1,
         '?    &   14': 1,
         '10 or 12': 1,
         '31 or 33': 1,
         '2½': 1,
         '13 or 14': 1})

In order to deal with imprecise information we assume:
* 'Teens', 'teens' and 'young' are 15 years old
* 'x months' refers to babies that are around 1 year old
* People on their '40s', '50s'... are 45, 55 years old respectively
* People on their 'mid-30s' are 35 years old

In [615]:
def correct_age(ages):
    try:
        return int(ages)
    except:
        ages = str(ages)
        
        if ages.upper() in ["TEEN", "TEENS", "YOUNG"]:
            return 15
        
        elif 'months' in ages.split():
            return 1
        
        elif re.findall('\d+', ages):
            return int(np.array(re.findall('\d+', ages)).astype(int).mean())
        
        else:
            return np.nan

In [616]:
db['Age'] = db['Age'].apply(correct_age)
db['Age'].describe()

count    3458.000000
mean       27.250723
std        13.886661
min         1.000000
25%        17.000000
50%        24.000000
75%        35.000000
max        87.000000
Name: Age, dtype: float64

##

## Gender of the victims

In [617]:
sex = db['Sex ']
Counter(sex)

Counter({'F': 637, 'M': 5094, nan: 565, 'M ': 2, 'lli': 1, 'N': 2, '.': 1})

Interpreting 'N' as a typo for 'M' (very proximate in the keyboard), we proceed to it's rectification

In [618]:
def correct_sex(sex):
    sex = str(sex).strip()
    if sex == 'N':
        return 'M'
    elif sex in ['M', 'F']:
        return sex
    else:
        return np.nan

In [619]:
db['Sex '] = db['Sex '].apply(correct_sex)
Counter(db['Sex '])

Counter({'F': 637, 'M': 5098, nan: 567})

##

## Date of the attack

We noticed that the 'Case Number' column corresponds to the date of the attack. 
Since the 'Date' column comes in many different formats and we wish to keep as many values as possible, we will use the 'Case Number' column, which we find to be much more accurate than 'Date'.

In [620]:
Counter(db['Case Number'])

Counter({'2018.06.25': 1,
         '2018.06.18': 1,
         '2018.06.09': 1,
         '2018.06.08': 1,
         '2018.06.04': 1,
         '2018.06.03.b': 1,
         '2018.06.03.a': 1,
         '2018.05.27': 1,
         '2018.05.26.b': 1,
         '2018.05.26.a': 1,
         '2018.05.24': 1,
         '2018.05.21': 1,
         '2018.05.13.b': 1,
         '2018.05.13.a': 1,
         '2018.05.00': 1,
         '2018.05.12': 1,
         '2018.05.09': 1,
         '2018.04.30.R': 1,
         '2018.04.28.b': 1,
         '2018.04.28.a': 1,
         '2018.04.25.b': 1,
         '2018.04.25.a': 1,
         '2018.04.24': 1,
         '2018.04.23': 1,
         '2018.04.22': 1,
         '2018.04.19': 1,
         '2018.04.15.d': 1,
         '2018.04.15.c': 1,
         '2018.04.15.b': 1,
         '2018.04.15.a': 1,
         '2018.04.14': 1,
         '2018.04.10.R': 1,
         '2018.04.09': 1,
         '2018.04.05': 1,
         '2018.04.03': 1,
         '2018.03.31': 1,
         '2018.03.14': 1,
         '2018.03.09.b': 1,
         '2018.03.09.a': 1,
         '2018.02.24': 1,
         '2018.02.23': 1,
         '2018.02.17': 1,
         '2018.02.15': 1,
         '2018.02.14': 1,
         '2018.02.11': 1,
         '2018.02.03': 1,
         '2018.02.01': 1,
         '2018.01.28': 1,
         '2018.01.21': 1,
         '2018.01.14': 1,
         '2018.01.13': 1,
         '2018.01.12': 1,
         '2018.01.05': 1,
         '2017.12.31': 1,
         '2017.12.30': 1,
         '2017.12.21': 1,
         '2017.12.09': 1,
         '2017.11.30.b': 1,
         '2017.11.30.a': 1,
         '2017.11.25.R': 1,
         '2017.11.24': 1,
         '2017.11.18': 1,
         '2017.11.13.R': 1,
         '2017.11.13': 1,
         '2017.11.04': 1,
         '2017.10.31.R': 1,
         '2017.10.28': 1,
         '2017.10.26': 1,
         '2017.10.23.c': 1,
         '2017.10.23.b': 1,
         '2017.10.23.a': 1,
         '2017.10.22': 1,
         '2017.10.21': 1,
         '2017.10.18': 1,
         '2017.10.09': 1,
         '2017.10.05': 1,
         '2017.10.01': 1,
         '2017.09.25.b': 1,
         '2017.09.25.a': 1,
         '2017.09.24.b': 1,
         '2017.09.24.a': 1,
         '2017.09.20': 1,
         '2017.09.16.b': 1,
         '2017.09.16.a': 1,
         '2017.09.15.b': 1,
         '2017.09.15.a': 1,
         '2017.09.14': 1,
         '2017.09.13': 1,
         '2017.09.10.b': 1,
         '2017.09.10.a': 1,
         '2017.09.06.R': 1,
         '2017.09.03.b': 1,
         '2017.09.03.a': 1,
         '2017.09.02.c': 1,
         '2017.09.02.b': 1,
         '2017.09.02.a': 1,
         '2017.08.29': 1,
         '2017.08.27': 1,
         '2017.08.26.b': 1,
         '2017.08.26.a': 1,
         '2017.08.23': 1,
         '2017.08.18': 1,
         '2017.08.10': 1,
         '2017.08.05': 1,
         '2017.08.03': 1,
         '2017.08.01': 1,
         '2017.07.31': 1,
         '2017.07.29.c': 1,
         '2017.07.29.a': 1,
         '2017.07.27': 1,
         '2017.07.26.R': 1,
         '2017.07.24': 1,
         '2017.07.23.b': 1,
         '2017.07.23.a': 1,
         '2017.07.22': 1,
         '2017.07.20.c': 1,
         '2017.07.20.b': 1,
         '2017.07.20.a': 1,
         '2017.07.14.b': 1,
         '2017.07.14.a': 1,
         '2017.07.11': 1,
         '2017.07.09': 1,
         '2017.07.07.R': 1,
         '2017.07.07': 1,
         '2017.07.02': 1,
         '2017.06.29': 1,
         '2017.06.21': 1,
         '2017.06.19': 1,
         '2017.06.18.b': 1,
         '2017.06.18.a': 1,
         '2017.06.17': 1,
         '2017.06.05': 1,
         '2017.06.14.R': 1,
         '2017.06.11': 1,
         '2017.06.10.b': 1,
         '2017.06.10.a': 1,
         '2017.06.07.R': 1,
         '2017.06.04': 1,
         '2017.06.02': 1,
         '2017.05.30': 1,
         '2017.05.28': 1,
         '2017.05.27': 1,
         '2017.05.12': 1,
         '2017.05.06.R': 1,
         '2017.05.06': 1,
         '2017.05.03': 1,
         '2017.04.29.d': 1,
         '2017.04.29.c': 1,
         '2017.04.29.b': 1,
         '2017.04.29.a': 1,
         '2017.04.27': 1,
         '2017.04.26': 1,
         '2017.04.22': 1,
         '2017.04.20': 1,
         '2017.04.17.b': 1,
         '2017.04.17.a': 1,
         '2017.04.14': 1,
         '2017.04.13': 1,
         '2017.04.12.b': 1,
         '2017.04.12.a': 1,
         '2017.04.11': 1,
         '2017.04.10.b': 1,
         '2017.04.10.a': 1,
         '2017.04.06': 1,
         '2017.04.05': 1,
         '2017.04.02.b': 1,
         '2017.04.02.a': 1,
         '2017.03.27': 1,
         '2017.03.19': 1,
         '2017.03.18': 1,
         '2017.03.11': 1,
         '2017.03.09': 1,
         '2017.02.25': 1,
         '2017.02.24': 1,
         '2017.02.21': 1,
         '2017.02.17': 1,
         '2017.02.11': 1,
         '2017.02.06.b': 1,
         '2017.02.06.a': 1,
         '2017.02.01.b': 1,
         '2017.02.01.a': 1,
         '2017.01.24': 1,
         '2017.01.22': 1,
         '2017.01.21': 1,
         '2017.01.13.b': 1,
         '2017.01.13.a': 1,
         '2017.01.09': 1,
         '2017.01.08.R': 1,
         '2017.01.05': 1,
         '2017.01.03': 1,
         '2016.12.27': 1,
         '2016.12.24': 1,
         '2016.12.19': 1,
         '2016.12.14': 1,
         '2016.12.11.b': 1,
         '2016.12.11.a': 1,
         '2016.12.06': 1,
         '2016.12.01': 1,
         '2016.11.28': 1,
         '2016.11.14': 1,
         '2016.10.30': 1,
         '2016.10.29': 1,
         '2016.10.24': 1,
         '2016.10.21': 1,
         '2016.10.15': 1,
         '2016.10.14': 1,
         '2016.10.13.R': 1,
         '2016.10.12': 1,
         '2016.10.10': 1,
         '2016.10.02': 1,
         '2016.10.01': 1,
         '2016.09.26': 1,
         '2016.09.18.c': 1,
         '2016.09.18.b': 1,
         '2016.09.18.a': 1,
         '2016.09.17.b': 1,
         '2016.09.17.a': 1,
         '2016.09.15': 1,
         '2016.09.15.R': 1,
         '2016.09.11': 1,
         '2016.09.07': 1,
         '2016.09.06': 1,
         '2016.09.05.b': 1,
         '2016.09.05.a': 1,
         '2016.09.04': 1,
         '2016.09.01': 1,
         '2016.09.00': 1,
         '2016.08.29.b': 1,
         '2016.08.29.a': 1,
         '2016.08.27': 1,
         '2016.08.25': 1,
         '2016.08.07': 1,
         '2016.08.06': 1,
         '2016.08.04': 1,
         '2016.07.29': 1,
         '2016.07.28.R': 1,
         '2016.07.28': 1,
         '2016.07.27': 1,
         '2016.07.26': 1,
         '2016.07.24': 1,
         '2016.07.23.b': 1,
         '2016.07.23.a': 1,
         '2016.07.20': 1,
         '2016.07.17': 1,
         '2016.07.16.b': 1,
         '2016.07.16.a': 1,
         '2016.07.15.b': 1,
         '2016.07.15.a': 1,
         '2016.07.14.R': 1,
         '2016.07.08.R': 1,
         '2016.07.08': 1,
         '2016.07.07.b': 1,
         '2016.07.07.a': 1,
         '2016.07.06': 1,
         '2016.07.04': 1,
         '2016.06.27': 1,
         '2016.06.25': 1,
         '2016.06.24': 1,
         '2016.06.23': 1,
         '2016.06.21.b': 1,
         '2016.06.21.a': 1,
         '2016.06.15.b': 1,
         '2016.06.15.a': 1,
         '2016.06.14': 1,
         '2016.06.11': 1,
         '2016.06.07': 1,
         '2016.06.05.b': 1,
         '2016.06.05.a': 1,
         '2016.06.04': 1,
         '2016.06.02.b': 1,
         '2016.06.02.a': 1,
         '2016.05.31': 1,
         '2016.05.29.b': 1,
         '2016.05.29.a': 1,
         '2016.05.22': 1,
         '2016.05.21.b': 1,
         '2016.05.21.a': 1,
         '2016.05.18': 1,
         '2016.05.15': 1,
         '2016.05.03': 1,
         '2016.05.02': 1,
         '2016.04.25': 1,
         '2016.04.23': 1,
         '2016.04.22': 1,
         '2016.04.19': 1,
         '2016.04.18.b': 1,
         '2016.04.18.a': 1,
         '2016.04.13': 1,
         '2016.04.09': 1,
         '2016.04.08': 1,
         '2016.04.07.b': 1,
         '2016.04.07.a': 1,
         '2016.03.31': 1,
         '2016.03.30': 1,
         '2016.03.28.b': 1,
         '2016.03.28.a': 1,
         '2016.03.26': 1,
         '2016.03.13': 1,
         '2016.03.11': 1,
         '2016.03.10': 1,
         '2016.03.04': 1,
         '2016.03.03.R': 1,
         '2016.03.02': 1,
         '2016.02.22': 1,
         '2016.02.19': 1,
         '2016.02.12': 1,
         '2016.02.10.R': 1,
         '2016.02.10': 1,
         '2016.02.05': 1,
         '2016.02.04': 1,
         '2016.02.02': 1,
         '2016.01.29': 1,
         '2016.01.28': 1,
         '2016.01.25': 1,
         '2016.01.24.b': 1,
         '2016.01.24.a': 1,
         '2016.01.23': 1,
         '2016.01.11.R': 1,
         '2016.01.05': 1,
         '2016.01.02': 1,
         '2015.12.26': 1,
         '2015.12.25': 1,
         '2015.12.22': 1,
         '2015.12.21.b': 1,
         '2015.12.21.a': 1,
         '2015.12.19': 1,
         '2015.12.13': 1,
         '2015.12.11': 1,
         '2015.12.08': 1,
         '2015.11.20': 1,
         '2015.11.16': 1,
         '2015.11.15.b': 1,
         '2015.11.15.a': 1,
         '2015.11.10': 1,
         '2015.12.23': 1,
         '2015.11.03': 1,
         '2015.11.01.b': 1,
         '2015.11.01.a': 1,
         '2015.10.30': 1,
         '2015.10.28.a': 1,
         '2015.10.25': 1,
         '2015.10.21': 1,
         '2015.10.19': 1,
         '2015.10.17.c': 1,
         '2015.10.17.b': 1,
         '2015.10.17.a': 1,
         '2015.10.13': 1,
         '2015.10.09.b': 1,
         '2015.10.09.a': 1,
         '2015.10.08': 1,
         '2015.10.07': 1,
         '2015.10.05.b': 1,
         '2015.10.05.a': 1,
         '2015.10.04': 1,
         '2015.09.29': 1,
         '2015.09.26': 1,
         '2015.09.24': 1,
         '2015.09.20.d': 1,
         '2015.09.20.c': 1,
         '2015.09.20.b': 1,
         '2015.09.20.a': 1,
         '2015.09.19': 1,
         '2015.09.18': 1,
         '2015.09.17': 1,
         '2015.09.08': 1,
         '2015.09.06': 1,
         '2015.09.05': 1,
         '2015.09.04': 1,
         '2015.09.03': 1,
         '2015.09.01': 1,
         '2015.09.00': 1,
         '2015.08.29.b': 1,
         '2015.08.29.a': 1,
         '2015.08.22.b': 1,
         '2015.08.22.a': 1,
         '2015.08.20': 1,
         '2015.08.19': 1,
         '2015.08.18.b': 1,
         '2015.08.18.a': 1,
         '2015.08.10': 1,
         '2015.07.31': 1,
         '2015.07.28': 1,
         '2015.07.27': 1,
         '2015.07.26.b': 1,
         '2015.07.26.a': 1,
         '2015.07.25': 1,
         '2015.07.23.b': 1,
         '2015.07.23.a': 1,
         '2015.07.22': 1,
         '2015.07.19': 1,
         '2015.07-10': 1,
         '2015.07.08': 1,
         '2015.07.06': 1,
         '2015.07.04.b': 1,
         '2015.07.04.a': 1,
         '2015.07.03': 1,
         '2015.07.02': 1,
         '2015.07.01': 1,
         '2015.06.30.b': 1,
         '2015.06.30.a': 1,
         '2015.06.27.b': 1,
         '2015.06.27.a': 1,
         '2015.06.26.c': 1,
         '2015.06.26.b': 1,
         '2015.06.26.a': 1,
         '2015.06.25.R': 1,
         '2015.06.25': 1,
         '2015.06.24.b': 1,
         '2015.06.24.a': 1,
         '2015.06.23': 1,
         '2015.06.19': 1,
         '2015.06.17': 1,
         '2015.06.14.b': 1,
         '2015.06.14.a': 1,
         '2015.06.13': 1,
         '2015.06.11': 1,
         '2015.06.07': 1,
         '2015.06.05': 1,
         '2015.06.01': 1,
         '2015.05.29.b': 1,
         '2015.05.29.a': 1,
         '2015.05.25': 1,
         '2015.05.24': 1,
         '2015.05.20': 1,
         '2015.05.15': 1,
         '2015.05.09': 1,
         '2015.05.07': 1,
         '2015.05.03': 1,
         '2015.05.02': 1,
         '2015.04.29': 1,
         '2015.04.26': 1,
         '2015.04.25': 1,
         '2015.04.24.c': 1,
         '2015.04.13': 1,
         '2015.04.12': 1,
         '2015.04.11': 1,
         '2015.04.03': 1,
         '2015.03.29': 1,
         '2015.03.31': 1,
         '2015.03.26': 1,
         '2015.03.21': 1,
         '2015.03.18': 1,
         '2015.03.16': 1,
         '2015.03.11': 1,
         '2015.03.10': 1,
         '2015.03.07': 1,
         '2015.02.15': 1,
         '2015.02.14': 1,
         '2015.02.09': 1,
         '2015.02.08': 1,
         '2015.02.05': 1,
         '2015.01.30': 1,
         '2015.01.27': 1,
         '2015.01.24': 1,
         '2015.01.23': 1,
         '2015.01.19.b': 1,
         '2015.01.19.a': 1,
         '2015.01.17': 1,
         '2015.01.16': 1,
         '2015.01.08': 1,
         '2015.01.06': 1,
         '2015.01.03': 1,
         '2015.01.01': 1,
         '2014.12.29.b': 1,
         '2014.12.29.a': 1,
         '2014.12.28.d': 1,
         '2014.12.28.c': 1,
         '2014.12.28.b': 1,
         '2014.12.28.a': 1,
         '2014.12.23.R': 1,
         '2014.12.15': 1,
         '2014.12.03.R': 1,
         '2014.11.29': 1,
         '2014.11.20': 1,
         '2014.11.19': 1,
         '2014.11.17': 1,
         '2014.11.16': 1,
         '2014.11.13': 1,
         '2014.11.10': 1,
         '2014.11.08': 1,
         '2014.10.31': 1,
         '2014.10.30': 1,
         '2014.10.22': 1,
         '2014.10.20': 1,
         '2014.10.19': 1,
         '2014.10.18': 1,
         '2014.10.17': 1,
         '2014.10.14': 1,
         '2014.10.12': 1,
         '2014.10.11': 1,
         '2014.10.05.b': 1,
         '2014.10.07': 1,
         '2014.10.05.a': 1,
         '2014.10.03.b': 1,
         '2014.10.03.a': 1,
         '2014.10.02.b': 1,
         '2014.10.02.a': 1,
         '2014.09.21': 1,
         '2014.09.13.R': 1,
         '2014.09.13': 1,
         '2014.09.09': 1,
         '2014.09.06': 1,
         '2014.09.03': 1,
         '2014.09.02': 1,
         '2014.09.00': 1,
         '2014.08.31': 1,
         '2014.08.29.b': 1,
         '2014.08.29.a': 1,
         '2014.08.28': 1,
         '2014.08.27.c': 1,
         '2014.08.27.b': 1,
         '2014.08.27.a': 1,
         '2014.08.25': 1,
         '2014.08.24': 1,
         '2014.08.16': 1,
         '2014.08.12': 1,
         '2014.08.10': 1,
         '2014.08.09.R': 1,
         '2014.08.09': 1,
         '2014.08.08': 1,
         '2014.08.06': 1,
         '2014.08.05': 1,
         '2014.08.02': 2,
         '2014.08.01': 1,
         '2014.08.00': 1,
         '2014.07.27': 1,
         '2014.07.22': 1,
         '2014.07.21': 1,
         '2014.07.20': 1,
         '2014.07.16': 1,
         '2014.07.14': 1,
         '2014.07.13': 1,
         '2014.07.12': 1,
         '2014.07.09': 1,
         '2014.07.05.b': 1,
         '2014.07.05.a': 1,
         '2014.07.03': 1,
         '2014.06.27.R': 1,
         '2014.06.25': 1,
         '2014.06.18.b': 1,
         '2014.06.18.a': 1,
         '2014.06.17.R': 1,
         '2014.06.09.c': 1,
         '2014.06.09.b': 1,
         '2014.06.09.a': 1,
         '2014.06.08': 1,
         '2014.06.07': 1,
         '2014.06.01.c': 1,
         '2014.06.01.b': 1,
         '2014.06.01.a': 1,
         '2014.05.27.R': 1,
         '2014.05.23': 1,
         '2014.05.22': 1,
         '2014.05.15': 1,
         '2014.05.14': 1,
         '2014.05.13': 1,
         '2014.05.11': 1,
         '2014.05.10.R': 1,
         '2014.05.06': 1,
         '2014.05.04': 1,
         '2014.05.01': 1,
         '2014.04.24': 1,
         '2014.04.22': 1,
         '2014.04.15': 1,
         '2014.04.12.R': 1,
         '2014.04.12': 1,
         '2014.04.04.b': 1,
         '2014.04.04.a': 1,
         '2014.04.03': 1,
         '2014.03.29': 1,
         '2014.03.22.b': 1,
         '2014.03.22.a': 1,
         '2014.03.21': 1,
         '2014.03.18.c': 1,
         '2014.03.18.b': 1,
         '2014.03.18': 1,
         '2014.03.12': 1,
         '2014.03.13': 1,
         '2014.03.02': 1,
         '2014.02.20': 1,
         '2014.02.17': 1,
         '2014.02.08': 1,
         '2014.02.07.b': 1,
         '2014.02.07': 1,
         '2014.01.26': 1,
         '2014.01.25': 1,
         '2014.01.04': 1,
         '2014.00.00.b': 1,
         '2014.00.00': 1,
         '2013.12.25': 1,
         '2013.12.16': 1,
         '2013.12.13': 1,
         '2013.12.11': 1,
         '2013.12.10': 1,
         '2013.12.05': 1,
         '2013.12.02': 1,
         '2013.11.30': 1,
         '2013.11.29': 1,
         '2013.11.23.a': 1,
         '2013.11.22': 1,
         '2013.11.12': 1,
         '2013.11.10': 1,
         '2013.11.07.b': 1,
         '2013.11.07.a': 1,
         '2013.10.31': 1,
         '2013.10.28': 1,
         '2013.10.26.b': 1,
         '2013.10.26.a': 1,
         '2013.10.24': 1,
         '2013.10.23': 1,
         '2013.10.20': 1,
         '2013.10.19': 1,
         '2013.10.11': 1,
         '2013.10.08': 1,
         '2013.10.05': 2,
         '2013.09.29.b': 1,
         '2013.09.29.a': 1,
         '2013.09.25': 1,
         '2013.09.21.b': 1,
         '2013.09.21.a': 1,
         '2013.09.14': 1,
         '2013.09.12': 1,
         '2013.09.08': 1,
         '2013.09.07.b': 1,
         '2013.09.07.a': 1,
         '2013.09.02': 1,
         '2013.09.01.c': 1,
         '2013.09.01.b': 1,
         '2013.09.01.a': 1,
         '2013.08.31.b': 1,
         '2013.08.31.a': 1,
         '2013.08.29': 1,
         '2013.08.26': 1,
         '2013.08.25.b': 1,
         '2013.08.25': 1,
         '2013.08.18': 1,
         '2013.08.17': 1,
         '2013.08.14': 1,
         '2013.08.13': 1,
         '2013.08.11': 1,
         '2013.08.08.R': 1,
         '2013.08.05': 1,
         '2013.07.31': 1,
         '2013.07.30': 1,
         '2013.07.29.c': 1,
         '2013.07.29.b': 1,
         '2013.07.29.a': 1,
         '2013.07.28.b': 1,
         '2013.07.28.a': 1,
         '2013.07.22': 1,
         '2013.07.19': 1,
         '2013.07.17.R': 1,
         '2013.07.15': 1,
         '2013.07.14': 1,
         '2013.07.11': 1,
         '2013.07.09': 1,
         '2013.07.02': 1,
         '2013.06.30': 1,
         '2013.06.27': 1,
         '2013.06.25.c': 1,
         '2013.06.25.b': 1,
         '2013.06.25.a': 1,
         '2013.06.18': 1,
         '2013.06.17': 1,
         '2013.06.16': 1,
         '2013.06.15': 1,
         '2013.06.14.R': 1,
         '2013.06.06.b': 1,
         '2013.06.06.a': 1,
         '2013.05.27.b': 1,
         '2013.05.27.a': 1,
         '2013.05.23.b': 1,
         '2013.05.23.a': 1,
         '2013.05.14': 1,
         '2013.05.08.b': 1,
         '2013.05.08.a': 1,
         '2013.05.04.a': 1,
         '2013.04.28': 1,
         '2013.04.24': 1,
         '2013.04.21': 1,
         '2013.04.17': 1,
         '2013.04.14': 1,
         '2013.04.13.b': 1,
         '2013.04.13.a': 1,
         '2013.04.10': 1,
         '2013.04.04': 1,
         '2013.04.02.R': 1,
         '2013.04.02.a': 1,
         '2013.03.31': 1,
         '2013.03.29': 1,
         '2013.03.21.R': 1,
         '2013.03.21': 1,
         '2013.03.16.b': 1,
         '2013.03.16.a': 1,
         '2013.03.12': 1,
         '2013.03.10.b': 1,
         '2013.03.10.a': 1,
         '2013.03.03': 1,
         '2013.02.27': 1,
         '2013.02.21.b': 1,
         '2013.02.21.a': 1,
         '2013.02.10': 1,
         '2013.02.09': 1,
         '2013.02.01': 1,
         '2013.01.26': 1,
         '2013.01.25': 1,
         '2013.01.21.R': 1,
         '2013.01.16': 1,
         '2013.01.13': 1,
         '2013.01.05': 1,
         '2012.12.31': 1,
         '2012.12.30': 1,
         '2012.12.28': 1,
         '2012.12.25': 1,
         '2012.12.19': 1,
         '2012.12.05': 1,
         '2012.12.02': 1,
         '2012.12.00': 1,
         '2012.11.30': 1,
         '2012.11.27': 1,
         '2012.11.22': 1,
         '2012.11.19': 1,
         '2012.11.04.b': 1,
         '2012.11.04.a': 1,
         '2012.10.30': 1,
         '2012.10.27': 1,
         '2012.10.23': 1,
         '2012.10.19': 1,
         '2012.10.18.b': 1,
         '2012.10.18.a': 1,
         '2012.10.16': 1,
         '2012.10.11.R': 1,
         '2012.10.07': 1,
         '2012.10.02': 1,
         '2012.09.25': 1,
         '2012.09.24': 1,
         '2012.09.16': 1,
         '2012.09.10': 1,
         '2012.09.09': 1,
         '2012.09.08.b': 1,
         '2012.09.08.a': 1,
         '2012.09.06.b': 1,
         '2012.09.06.a': 1,
         '2012.09.04': 1,
         '2012.09.02.b': 2,
         '2012.09.02.a': 1,
         '2012.08.31': 1,

In order to manipulate the 'Case Number' column without giving up it's content, we duplicate this column under the name 'date'

In [621]:
db['date'] = db['Case Number']
date = db['date']

We use the imported ``'datetime'`` library.

In [622]:
def correct_date(date):
    for x in ('%Y-%m-%d', '%Y.%m.%d', '%d/%m/%Y'):
        try:
            return datetime.strptime(date, x)
        except:
            if len(str(date))==12:
                return date[:-2]
            else:
                return np.nan

In [623]:
db['date'] = db['date'].apply(correct_date)
Counter(db['date'])

Counter({nan: 4234,
         '2018.06.03': 2,
         '2018.05.26': 2,
         '2018.05.13': 2,
         '2018.04.30': 1,
         '2018.04.28': 2,
         '2018.04.25': 2,
         '2018.04.15': 4,
         '2018.04.10': 1,
         '2018.03.09': 2,
         '2017.11.30': 2,
         '2017.11.25': 1,
         '2017.11.13': 1,
         '2017.10.31': 1,
         '2017.10.23': 3,
         '2017.09.25': 2,
         '2017.09.24': 2,
         '2017.09.16': 2,
         '2017.09.15': 2,
         '2017.09.10': 2,
         '2017.09.06': 1,
         '2017.09.03': 2,
         '2017.09.02': 3,
         '2017.08.26': 2,
         '2017.07.29': 2,
         '2017.07.26': 1,
         '2017.07.23': 2,
         '2017.07.20': 3,
         '2017.07.14': 2,
         '2017.07.07': 1,
         '2017.06.18': 2,
         '2017.06.14': 1,
         '2017.06.10': 2,
         '2017.06.07': 1,
         '2017.05.06': 1,
         '2017.04.29': 4,
         '2017.04.17': 2,
         '2017.04.12': 2,
         '2017.04.10': 2,
         '2017.04.02': 2,
         '2017.02.06': 2,
         '2017.02.01': 2,
         '2017.01.13': 2,
         '2017.01.08': 1,
         '2016.12.11': 2,
         '2016.10.13': 1,
         '2016.09.18': 3,
         '2016.09.17': 2,
         '2016.09.15': 1,
         '2016.09.05': 2,
         '2016.08.29': 2,
         '2016.07.28': 1,
         '2016.07.23': 2,
         '2016.07.16': 2,
         '2016.07.15': 2,
         '2016.07.14': 1,
         '2016.07.08': 1,
         '2016.07.07': 2,
         '2016.06.21': 2,
         '2016.06.15': 2,
         '2016.06.05': 2,
         '2016.06.02': 2,
         '2016.05.29': 2,
         '2016.05.21': 2,
         '2016.04.18': 2,
         '2016.04.07': 2,
         '2016.03.28': 2,
         '2016.03.03': 1,
         '2016.02.10': 1,
         '2016.01.24': 2,
         '2016.01.11': 1,
         '2015.12.21': 2,
         '2015.11.15': 2,
         '2015.11.01': 2,
         '2015.10.28': 1,
         '2015.10.17': 3,
         '2015.10.09': 2,
         '2015.10.05': 2,
         '2015.09.20': 4,
         '2015.08.29': 2,
         '2015.08.22': 2,
         '2015.08.18': 2,
         '2015.07.26': 2,
         '2015.07.23': 2,
         '2015.07.04': 2,
         '2015.06.30': 2,
         '2015.06.27': 2,
         '2015.06.26': 3,
         '2015.06.25': 1,
         '2015.06.24': 2,
         '2015.06.14': 2,
         '2015.05.29': 2,
         '2015.04.24': 1,
         '2015.01.19': 2,
         '2014.12.29': 2,
         '2014.12.28': 4,
         '2014.12.23': 1,
         '2014.12.03': 1,
         '2014.10.05': 2,
         '2014.10.03': 2,
         '2014.10.02': 2,
         '2014.09.13': 1,
         '2014.08.29': 2,
         '2014.08.27': 3,
         '2014.08.09': 1,
         '2014.07.05': 2,
         '2014.06.27': 1,
         '2014.06.18': 2,
         '2014.06.17': 1,
         '2014.06.09': 3,
         '2014.06.01': 3,
         '2014.05.27': 1,
         '2014.05.10': 1,
         '2014.04.12': 1,
         '2014.04.04': 2,
         '2014.03.22': 2,
         '2014.03.18': 2,
         '2014.02.07': 1,
         '2014.00.00': 1,
         '2013.11.23': 1,
         '2013.11.07': 2,
         '2013.10.26': 2,
         '2013.09.29': 2,
         '2013.09.21': 2,
         '2013.09.07': 2,
         '2013.09.01': 3,
         '2013.08.31': 2,
         '2013.08.25': 1,
         '2013.08.08': 1,
         '2013.07.29': 3,
         '2013.07.28': 2,
         '2013.07.17': 1,
         '2013.06.25': 3,
         '2013.06.14': 1,
         '2013.06.06': 2,
         '2013.05.27': 2,
         '2013.05.23': 2,
         '2013.05.08': 2,
         '2013.05.04': 1,
         '2013.04.13': 2,
         '2013.04.02': 2,
         '2013.03.21': 1,
         '2013.03.16': 2,
         '2013.03.10': 2,
         '2013.02.21': 2,
         '2013.01.21': 1,
         '2012.11.04': 2,
         '2012.10.18': 2,
         '2012.10.11': 1,
         '2012.09.08': 2,
         '2012.09.06': 2,
         '2012.09.02': 3,
         '2012.07.31': 2,
         '2012.07.30': 2,
         '2012.07.07': 3,
         '2012.06.28': 1,
         '2012.06.26': 3,
         '2012.06.22': 2,
         '2012.06.14': 4,
         '2012.06.02': 2,
         '2012.04.19': 2,
         '2012.03.14': 2,
         '2012.03.06': 2,
         '2012.01.22': 1,
         '2012.01.18': 2,
         '2011.12.26': 1,
         '2011.12.21': 2,
         '2011.12.07': 2,
         '2011.11.20': 1,
         '2011.10.28': 1,
         '2011.09.28': 2,
         '2011.09.24': 2,
         '2011.09.11': 2,
         '2011.09.04': 2,
         '2011.08.28': 2,
         '2011.08.24': 2,
         '2011.08.17': 1,
         '2011.08.16': 3,
         '2011.07.13': 2,
         '2011.07.07': 2,
         '2011.06.19': 2,
         '2011.06.14': 1,
         '2011.06.06': 3,
         '2011.05.21': 2,
         '2011.05.13': 2,
         '2011.05.07': 1,
         '2011.03.29': 1,
         '2011.03.21': 2,
         '2011.03.10': 1,
         '2011.02.28': 1,
         '2011.02.04': 1,
         '2011.01.12': 1,
         '2010.12.03': 1,
         '2010.12.01': 2,
         '2010.11.30': 2,
         '2010.11.27': 1,
         '2010.11.12': 1,
         '2010.10.28': 1,
         '2010.10.23': 2,
         '2010.10.02': 2,
         '2010.09.06': 1,
         '2010.09.03': 2,
         '2010.08.10': 1,
         '2010.08.07': 2,
         '2010.08.02': 2,
         '2010.07.17': 2,
         '2010.07.16': 2,
         '2010.07.02': 2,
         '2010.06.25': 2,
         '2010.05.18': 3,
         '2010.02.06': 3,
         '2010.01.22': 2,
         '2010.01.09': 4,
         '2009.12.20': 2,
         '2009.11.16': 2,
         '2009.10.29': 1,
         '2009.10.14': 1,
         '2009.07.24': 3,
         '2009.07.22': 2,
         '2009.07.11': 2,
         '2009.06.14': 1,
         '2009.06.02': 2,
         '2009.05.16': 2,
         '2009.04.25': 1,
         '2009.04.06': 2,
         '2009.03.19': 2,
         '2009.03.18': 1,
         '2009.03.17': 1,
         '2009.03.16': 1,
         '2009.03.01': 2,
         '2009.02.07': 2,
         '2009.01.27': 1,
         '2009.01.26': 1,
         '2009.01.24': 3,
         '2009.01.13': 1,
         '2009.01.11': 2,
         '2009.01.10': 2,
         '2008.12.27': 4,
         '2008.11.09': 2,
         '2008.09.28': 2,
         '2008.09.06': 2,
         '2008.08.30': 3,
         '2008.07.30': 1,
         '2008.07.26': 2,
         '2008.07.25': 2,
         '2008.07.24': 2,
         '2008.06.28': 3,
         '2008.06.26': 3,
         '2008.06.02': 1,
         '2008.06.01': 2,
         '2008.05.24': 2,
         '2008.05.07': 2,
         '2008.04.28': 2,
         '2008.04.26': 2,
         '2008.04.20': 2,
         '2008.04.19': 1,
         '2008.04.09': 1,
         '2008.04.08': 1,
         '2008.03.28': 3,
         '2008.02.21': 1,
         '2008.01.19': 1,
         '2008.00.00': 2,
         '2007.09.30': 3,
         '2007.09.27': 2,
         '2007.09.22': 2,
         '2007.09.16': 2,
         '2007.09.03': 2,
         '2007.08.28': 2,
         '2007.08.19': 2,
         '2007.08.09': 2,
         '2007.07.19': 2,
         '2007.07.18': 2,
         '2007.07.17': 2,
         '2007.06.30': 2,
         '2007.05.17': 1,
         '2007.05.09': 1,
         '2007.05.07': 2,
         '2007.04.13': 1,
         '2007.03.31': 2,
         '2007.03.14': 1,
         '2007.03.05': 1,
         '2007.01.25': 2,
         '2006.10.00': 2,
         '2006.09.18': 1,
         '2006.09.03': 2,
         '2006.08.29': 2,
         '2006.08.22': 2,
         '2006.08.20': 2,
         '2006.08.00': 2,
         '2006.07.31': 2,
         '2006.07.29': 2,
         '2006.07.17': 1,
         '2006.07.09': 2,
         '2006.07.08': 2,
         '2006.06.30': 2,
         '2006.04.23': 1,
         '2006.04.09': 2,
         '2006.03.28': 1,
         '2006.02.12': 2,
         '2006.02.01': 2,
         '2006.01.28': 1,
         '2005.12.05': 1,
         '2005.11.29': 1,
         '2005.11.25': 3,
         '2005.11.16': 1,
         '2005.11.02': 2,
         '2005.09.27': 1,
         '2005.09.04': 1,
         '2005.09.02': 2,
         '2005.08.24': 2,
         '2005.07.17': 2,
         '2005.07.15': 1,
         '2005.05.02': 1,
         '2005.04.17': 1,
         '2005.04.16': 2,
         '2005.03.27': 1,
         '2004.11.11': 2,
         '2004.10.30': 2,
         '2004.10.09': 2,
         '2004.07.27': 2,
         '2004.07.19': 1,
         '2004.07.02': 2,
         '2004.06.26': 2,
         '2004.06.10': 2,
         '2004.05.23': 2,
         '2004.05.22': 3,
         '2004.04.13': 2,
         '2004.03.31': 2,
         '2004.03.27': 2,
         '2004.01.21': 2,
         '2004.01.15': 1,
         '2004.01.03': 2,
         '2003.12.13': 2,
         '2003.11.30': 2,
         '2003.11.12': 2,
         '2003.11.06': 2,
         '2003.10.31': 3,
         '2003.10.05': 5,
         '2003.09.14': 3,
         '2003.09.13': 2,
         '2003.07.26': 1,
         '2003.07.05': 2,
         '2003.07.00': 3,
         '2003.06.24': 3,
         '2003.04.23': 2,
         '2003.04.21': 2,
         '2003.04.20': 3,
         '2003.02.15': 2,
         '2002.11.28': 2,
         '2002.11.00': 1,
         '2002.10.05': 2,
         '2002.09.27': 3,
         '2002.09.21': 2,
         '2002.09.16': 2,
         '2002.08.06': 1,
         '2002.07.09': 2,
         '2002.06.20': 2,
         '2002.06.11': 2,
         '2002.06.09': 2,
         '2002.05.31': 2,
         '2002.05.22': 2,
         '2002.05.21': 1,
         '2002.03.25': 2,
         '2002.03.15': 2,
         '2002.01.30': 2,
         '2002.01.01': 2,
         '2001.09.30': 2,
         '2001.09.15': 2,
         '2001.09.07': 2,
         '2001.09.03': 2,
         '2001.08.19': 3,
         '2001.08.18': 3,
         '2001.07.15': 2,
         '2001.07.06': 2,
         '2001.04.13': 2,
         '2001.04.12': 5,
         '2001.04.11': 3,
         '2001.04.08': 2,
         '2001.04.02': 2,
         '2001.01.24': 1,
         '2000.11.06': 2,
         '2000.10.06': 2,
         '2000.09.16': 2,
         '2000.09.10': 2,
         '2000.09.08': 3,
         '2000.09.00': 1,
         '2000.08.27': 1,
         '2000.07.16': 2,
         '2000.07.15': 2,
         '2000.07.04': 2,
         '2000.07.02': 2,
         '2000.06.09': 2,
         '2000.05.07': 2,
         '2000.03.03': 1,
         '2000.01.28': 1,
         '1999.12.31': 3,
         '1999.11.00': 2,
         '1999.10.30': 2,
         '1999.09.04': 2,
         '1999.08.05': 1,
         '1999.03.18': 3,
         '1999.03.14': 2,
         '1999.02.26': 1,
         '1999.01.03': 1,
         '1999.00.00': 2,
         '1998.12.20': 1,
         '1998.11.02': 2,
         '1998.10.01': 2,
         '1998.09.16': 1,
         '1998.08.23': 1,
         '1998.08.01': 2,
         '1998.07.06': 2,
         '1998.06.28': 1,
         '1998.05.29': 2,
         '1998.05.16': 3,
         '1998.03.08': 1,
         '1998.01.28': 1,
         '1998.01.25': 2,
         '1998.00.00': 3,
         '1997.12.28': 2,
         '1997.12.25': 2,
         '1997.11.05': 1,
         '1997.10.28': 2,
         '1997.10.11': 1,
         '1997.08.14': 2,
         '1997.08.11': 3,
         '1997.08.02': 2,
         '1997.07.02': 1,
         '1997.05.31': 3,
         '1997.02.28': 2,
         '1997.01.03': 1,
         '1996.12.00': 2,
         '1996.11.29': 1,
         '1996.10.28': 2,
         '1996.10.03': 2,
         '1996.09.06': 2,
         '1996.09.02': 2,
         '1996.09.01': 2,
         '1996.07.23': 2,
         '1996.07.04': 2,
         '1996.04.28': 1,
         '1996.04.25': 2,
         '1996.02.19': 1,
         '1996.02.10': 3,
         '1996.01.14': 1,
         '1996.00.00': 2,
         '1995.11.25': 2,
         '1995.10.28': 1,
         '1995.09.30': 2,
         '1995.09.03': 2,
         '1995.08.31': 2,
         '1995.08.26': 2,
         '1995.08.22': 2,
         '1995.08.13': 1,
         '1995.08.10': 2,
         '1995.07.28': 5,
         '1995.06.17': 2,
         '1995.04.09': 2,
         '1995.00.00': 4,
         '1994.12.09': 2,
         '1994.11.25': 1,
         '1994.11.06': 1,
         '1994.09.11': 1,
         '1994.07.09': 4,
         '1994.07.08': 2,
         '1994.05.31': 2,
         '1994.03.23': 2,
         '1994.01.31': 2,
         '1994.01.12': 1,
         '1994.00.00': 2,
         '1993.09.16': 2,
         '1993.08.19': 1,
         '1993.08.15': 2,
         '1993.08.00': 2,
         '1993.06.11': 2,
         '1993.05.00': 2,
         '1993.00.00': 4,
         '1992.11.25': 1,
         '1992.11.12': 1,
         '1992.11.05': 2,
         '1992.07.08': 2,
         '1992.06.28': 2,
         '1992.03.08': 3,
         '1992.01.29': 2,
         '1991.11.26': 2,
         '1991.07.01': 2,
         '1991.06.07': 2,
         '1991.04.16': 2,
         '1990.10.30': 2,
         '1990.08.19': 2,
         '1989.10.29': 1,
         '1989.09.09': 2,
         '1989.08.22': 2,
         '1989.08.06': 1,
         '1989.01.26': 2,
         '1989.01.20': 2,
         '1989.00.00': 2,
         '1988.09.13': 2,
         '1988.08.22': 2,
         '1988.07.04': 2,
         '1988.04.15': 1,
         '1988.04.14': 2,
         '1988.01.05': 1,
         '1988.00.00': 1,
         '1987.07.12': 2,
         '1987.03.30': 2,
         '1987.00.00': 2,
         '1986.12.06': 2,
         '1986.09.22': 1,
         '1986.09.00': 2,
         '1986.07.00': 1,
         '1985.09.08': 2,
         '1985.07.25': 2,
         '1985.01.00': 2,
         '1985.00.00': 2,
         '1984.10.21': 1,
         '1984.10.14': 1,
         '1984.09.30': 2,
         '1984.09.22': 2,
         '1984.07.24': 2,
         '1984.07.00': 1,
         '1984.06.03': 1,
         '1984.00.00': 2,
         '1983.11.10': 1,
         '1983.10.17': 1,
         '1983.08.20': 2,
         '1983.08.13': 2,
         '1983.07.25': 2,
         '1983.07.12': 2,
         '1983.04.02': 2,
         '1983.03.30': 1,
         '1983.00.00': 3,
         '1982.09.30': 2,
         '1982.08.29': 3,
         '1982.07.24': 2,
         '1982.06.26': 2,
         '1982.02.14': 2,
         '1982.02.07': 1,
         '1982.00.00': 3,
         '1981.12.13': 2,
         '1981.10.19': 2,
         '1981.09.03': 2,
         '1981.08.24': 2,
         '1981.08.10': 2,
         '1981.06.15': 1,
         '1981.00.00': 2,
         '1980.08.22': 1,
         '1980.00.00': 4,
         '1979.05.00': 2,
         '1979.04.08': 2,
         '1978.09.02': 1,
         '1978.08.01': 1,
         '1978.06.21': 2,
         '1978.04.02': 2,
         '1978.00.00': 2,
         '1977.12.19': 2,
         '1977.03.13': 3,
         '1976.09.12': 2,
         '1976.06.02': 1,
         '1976.03.12': 2,
         '1976.00.00': 1,
         '1975.11.19': 2,
         '1975.07.30': 2,
         '1975.07.26': 2,
         '1975.06.23': 2,
         '1975.06.02': 1,
         '1975.06.00': 1,
         '1975.02.14': 1,
         '1975.00.00': 2,
         '1974.09.02': 2,
         '1974.08.16': 3,
         '1974.04.25': 1,
         '1974.02.13': 2,
         '1974.02.00': 2,
         '1974.01.07': 3,
         '1974.00.00': 2,
         '1973.12.21': 1,
         '1973.12.19': 1,
         '1973.09.10': 1,
         '1973.00.00': 3,
         '1972.10.14': 2,
         '1972.10.10': 1,
         '1972.06.26': 2,
         '1972.04.01': 2,
         '1972.01.01': 3,
         '1972.00.00': 2,
         '1971.11.25': 1,
         '1971.04.05': 2,
         '1971.00.00': 3,
         '1970.09.00': 2,
         '1970.06.13': 2,
         '1970.04.00': 2,
         '1970.01.23': 4,
         '1970.01.09': 1,
         '1970.00.00': 8,
         '1969.02.17': 1,
         '1968.04.11': 1,
         '1968.00.00': 3,
         '1967.12.21': 1,
         '1967.11.30': 2,
         '1967.10.26': 1,
         '1967.09.07': 2,
         '1967.08.14': 1,
         '1967.08.00': 2,
         '1966.12.27': 2,
         '1966.09.08': 1,
         '1966.08.27': 2,
         '1966.08.21': 2,
         '1966.08.00': 2,
         '1966.07.17': 2,
         '1966.05.20': 3,
         '1966.05.16': 2,
         '1965.11.21': 2,
         '1965.11.03': 2,
         '1965.10.16': 2,
         '1965.07.02': 1,
         '1965.06.00': 1,
         '1965.05.00': 3,
         '1965.04.04': 2,
         '1965.00.00': 7,
         '1964.12.10': 2,
         '1964.07.00': 2,
         '1964.06.29': 1,
         '1964.03.28': 2,
         '1964.02.17': 1,
         '1964.02.14': 2,
         '1964.02.05': 2,
         '1964.02.00': 2,
         '1964.01.06': 1,
         '1964.01.01': 2,
         '1963.12.26': 2,
         '1963.12.22': 2,
         '1963.12.20': 2,
         '1963.12.04': 1,
         '1963.11.30': 2,
         '1963.11.16': 1,
         '1963.11.05': 1,
         '1963.07.10': 1,
         '1963.06.01': 2,
         '1963.00.00': 2,
         '1962.08.31': 1,
         '1962,08.30': 1,
         '1962.08.30': 1,
         '1962.08.00': 2,
         '1962.07.03': 1,
         '1962.06.11': 3,
         '1962.06.10': 2,
         '1962.05.00': 1,
         '1962.03.25': 2,
         '1962.01.14': 3,
         '1962.01.11': 3,
         '1962.01.07': 2,
         '1962.00.00': 3,
         '1961.12.28': 3,
         '1961.12.18': 2,
         '1961.10.00': 2,
         '1961.09.24': 2,
         '1961.09.02': 1,
         '1961.07.07': 1,
         '1961.07.00': 2,
         '1961.06.06': 1,
         '1961.04.16': 2,
         '1961.02.17': 2,
         '1961.02.01': 2,
         '1961.01.06': 3,
         '1961.01.03': 2,
         '1961.01.02': 1,
         '1961.00.00': 4,
         '1960.12.27': 1,
         '1960.11.00': 3,
         '1960.10.00': 5,
         '1960.08.04': 2,
         '1960.07.02': 1,
         '1960.06.27': 2,
         '1960.04.20': 1,
         '1960.04.03': 2,
         '1960.04.00': 3,
         '1960.02.27': 2,
         '1960.00.00': 10,
         '1959.12.19': 2,
         '1959.11.12': 1,
         '1959.09.26': 2,
         '1959.09.10': 1,
         '1959.08.31': 1,
         '1959.08.15': 2,
         '1959.08.14': 2,
         '1959.07.25': 2,
         '1959.07.23': 2,
         '1959.07.00': 2,
         '1959.06.26': 1,
         '1959.06.14': 2,
         '1959.04.09': 1,
         '1959.01.17': 2,
         '1959.00.00': 7,
         '1958.11.07': 1,
         '1958.10.00': 2,
         '1958.07.31': 1,
         '1958.07.27': 2,
         '1958.07.04': 2,
         '1958.07.00': 2,
         '1958.06.02': 1,
         '1958.01.09': 1,
         '1958.00.00': 9,
         '1957.11.04': 1,
         '1957.04.07': 2,
         '1957.00.00': 11,
         '1956.12.15': 1,
         '1956.09.00': 2,
         '1956.08.15': 3,
         '1956.08.00': 5,
         '1956.05.26': 1,
         '1956.03.00': 1,
         '1956.02.10': 1,
         '1956.01.16': 1,
         '1956.00.00': 8,
         '1955.09.23': 2,
         '1955.08.30': 2,
         '1955.08.04': 1,
         '1955.08.00': 2,
         '1955.04.13': 1,
         '1955.03.00': 2,
         '1955.00.00': 6,
         '1954.10.02': 2,
         '1954.08.12': 2,
         '1954.07.04': 1,
         '1954.07.02': 1,
         '1954.07.01': 1,
         '1954.05.26': 1,
         '1954.01.22': 2,
         '1954.00.00': 7,
         '1953.09.20': 1,
         '1953.09.03': 1,
         '1953.04.00': 2,
         '1953.03.19': 1,
         '1953.03.00': 2,
         '1953.00.00': 3,
         '1952.07.27': 4,
         '1952.05.07': 1,
         '1952.00.00': 5,
         '1851.12.15': 1,
         '1951.11.28': 2,
         '1951.11.23': 1,
         '1951.09.03': 1,
         '1951.09.02': 1,
         '1951.08.17': 2,
         '1951.08.16': 1,
         '1951.07.19': 1,
         '1951.05.09': 1,
         '1950.12.19': 1,
         '1950.07.27': 1,
         '1950.04.09': 2,
         '1950.02.18': 1,
         '1950.01.12': 1,
         '1950.00.00': 13,
         '1949.12.00': 2,
         '1949.08.28': 2,
         '1949.08.10': 1,
         '1949.00.00': 7,
         '1948.12.14': 2,
         '1948.09.19': 2,
         '1948.09.17': 1,
         '1948.06.06': 1,
         '1948.03.13': 1,
         '1948.00.00': 4,
         '1947.12.15': 1,
         '1947.11.14': 2,
         '1947.11.08': 2,
         '1947.07.27': 1,
         '1947.07.24': 1,

Ok, but we need a better solution. We can divide the data in 'date' into different columns.

In [624]:
pd.to_datetime(db['date'])

ParserError: month must be in 1..12: 2014.00.00

In [ ]:

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(str(db['date']), "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

##

## Location of the attack

In [625]:
Counter(db['Location'])

Counter({'Oceanside, San Diego County': 1,
         'St. Simon Island, Glynn County': 1,
         'Habush, Oahu': 1,
         'Arrawarra Headland': 1,
         'La Ticla': 1,
         'Flat Rock, Ballina': 1,
         'Piedade Beach, Recife': 4,
         'Lighhouse Point Park, Ponce Inlet, Volusia County': 1,
         'Cocoa Beach, Brevard  County': 11,
         'Daytona Beach, Volusia County': 30,
         'Cairns Aquarium': 1,
         'Isle of Palms,  Charleston County': 1,
         'Hilton Head Island, Beaufort County': 4,
         "Off Land's End": 1,
         'Dugong Bay': 1,
         'Nahoon Beach, East London': 4,
         'Sharpes Beach, Ballina': 3,
         'Sai Noi Beach': 2,
         'Manuelita': 3,
         'Gearys Beach': 1,
         'Lennox Head': 4,
         'Surfers Point, Prevelly': 1,
         'South Point, Gracetown': 2,
         'Madoogali': 1,
         'Robberg Beach, Plettenberg Bay': 2,
         'Shipwreck’s Beach, Keoneloa Bay, Kauai': 1,
         'Piedade': 11,
         'Lefthanders, Margaret River Area': 1,
         'Cobblestones, Margaret River Area': 1,
         'Nirvana Beach': 1,
         'Praia de Sauaçuhy, Maceió': 1,
         'Magenta Beach, Noumea': 1,
         'Bimini': 3,
         'St. Francis Bay': 4,
         'Kukio Beach': 1,
         "Waterman's Bay": 1,
         'Lorne': 1,
         'Winkipop': 1,
         'Durban': 16,
         'Little Congwong Beach, La Perouse ': 1,
         'Westernport Bay': 1,
         'Surf Beach, Kiama': 1,
         'Mooloolaba Beach': 1,
         'Espirito Santo': 1,
         'Santa Fe Island': 1,
         'Avalon Point, Manurah': 1,
         'Cone Bay': 1,
         'Nouville': 1,
         'Lizard Island': 3,
         'Martin Islet': 1,
         'Conceicao Beach': 1,
         "Hultin's Beach, Oahu": 1,
         'Drakes Estero, Point Reyes, Marin County': 1,
         'Bagan Lalang Beach': 1,
         nan: 540,
         ' Gars Garabulli': 1,
         'Stillwater Cove, Monterey County': 1,
         'Floridana Beach, Brevard County': 4,
         'Avoca Beach': 4,
         'Guardalavaca Beach': 1,
         'Magnetic Island': 2,
         'Birubi Point': 1,
         'White Plains Beach, Oahu': 2,
         'Le Goulet': 1,
         'Juno Beach, Palm Beach County': 9,
         'Ocean Reef Park, Singer Island, Palm Beach County': 5,
         'Normanville': 1,
         'Off Tapuna Beach, Auckand': 1,
         'Lantana Beach, Palm Beach County': 1,
         'Davidsons Beach, Kekaha, Kauai': 1,
         'Kama‘ole Beach Park, Maui ': 1,
         'Dyer Island': 4,
         'Hanna Park, Jacksonville, Duval County': 2,
         'Gracetown': 2,
         'Rockaway': 2,
         'Fort Worth': 1,
         'Palm Beach County': 4,
         'Gran Canaria ': 1,
         'Ponce Inlet, Volusia County': 20,
         'Hawston': 1,
         'Nofoali’i': 1,
         'Esperance': 2,
         "Sam's Creek area": 1,
         'Iluka Beach': 1,
         'Owarigi Island': 1,
         'Iwata City': 1,
         'Marathon, Monroe County': 4,
         'South Padre Island, Cameron County': 2,
         'New Smyrna Beach, Volusia County': 163,
         'Cathedral Rock': 1,
         'Bathtub Beach ': 1,
         'Grao de Moncofa': 1,
         'Off Tutukaka': 1,
         'Marconi Beach, Wellfleet, Barnstable County': 1,
         'Sea Pines Resort, Hilton Head Island, Beaufort County': 1,
         'Marsa Ghalib': 1,
         'Menauhant Beach, Falmouth,\nBarnstable County': 1,
         'Between Pescadero Point & Bean Hollow Beach, San Mateo County': 1,
         'Jacksonvlle, Duval County': 1,
         'DeBordieu Colony, Georgetown County': 1,
         'Rose Island': 1,
         'English Bay': 2,
         'Ventnor': 1,
         'Estanys Beach, Colonia de Sant': 1,
         'Snipes Point, Monroe County': 1,
         'Stearns Wharf, Santa Barbara': 1,
         'Seal Rock, Goleta Beach, Santa Barbara': 1,
         'South Beach, Westport, Grays Harbor County': 1,
         'Floreat Beach': 2,
         'Santa Cruz, Santa Cruz County': 2,
         'Haulover Beach, Miami-Dade County': 2,
         'Sánchez Magallanes, Cárdenas': 1,
         'Nahoon Reef, East London': 1,
         'Moya': 1,
         'Wrightsville Beach': 1,
         'South Forest Beach, Hilton Head Island, Beaufort County': 1,
         'Singer Island, Palm Beach County': 1,
         'Burkes Beach, Hilton Head, Beaufort County': 1,
         'Roches Noire': 1,
         'Playa d’en Bossa': 1,
         'Atuona Bay, Hiva Oa Island': 1,
         'Point Casuarina, Bunbury': 1,
         'Flinders, Mornington Penisula': 2,
         'Bantham Beach': 1,
         'Middle Sambo Reef off Boca Chica, Monroe County': 1,
         'Athol Island': 1,
         'Awendaw, Charleston County': 1,
         'Off Jupiter': 1,
         'Evans Head': 4,
         'Khor Fakkan': 1,
         'Weipa': 1,
         'Los Arbolitos, Cabo Pulmo': 1,
         'Sunset Beach, Orange County': 1,
         'San Onofre, San Diego County ': 4,
         'Keurbooms, Plettenberg Bay': 1,
         'Folly Beach, Charleston County': 7,
         'Pointe au Sal': 1,
         'Porpoise Bay, Catlins': 1,
         'Georgetown County': 1,
         'Kelpies near Wylie Bay': 1,
         'Kekaha Beach, Kauai': 1,
         'St. Augustine': 1,
         'Protea Banks': 1,
         'Ormond Beach, Volusia County': 11,
         'Melbourne Beach, Brevard County': 18,
         'Daytona, Volusia County': 1,
         'Moreton Bay': 8,
         'Destin, Okaloosa County': 2,
         'The Farm': 1,
         'Monterey Bay': 1,
         'Villamar, Caoayan': 1,
         'Mauds Point': 1,
         'Falcon Bay Beach, Mandurah': 1,
         'Eva Rock': 1,
         'Fernando de Noronha Marine Park': 1,
         'Eastmoor Crescent Beach': 1,
         '16 miles off Hilton Head': 1,
         'Boa Viagem, Recife': 14,
         'Vero Beach, Indian River County': 8,
         'Boot Reef, Torres Strait': 1,
         'Clairview': 1,
         'Jensen Beach': 1,
         'Balian Beach': 1,
         'Blockhouse Beach, Brevard County': 1,
         'Merimbula': 2,
         'Avalon State Park Beach, North Hutchinson Island, St Lucie County': 1,
         'Bundegi Sanctuary Zone, Ningaloo': 1,
         'Keurbooms Lagoon, Plettenberg Bay': 1,
         'Trigg Beach': 2,
         'Takapoto Atoll': 1,
         'Booti Booti National Park': 1,
         'Queenscliff': 3,
         'Kamaole Beach Park I, Maui': 1,
         'Mayport Naval Station Beach, Duval County': 1,
         'Mayport Naval Station  Duval County': 1,
         'Broken Head Beach': 1,
         'Hooipa Beach Park, Maui': 1,
         'Kings Beach, Caloundra': 1,
         'Charlie Young Beach, Kihei, Maui': 1,
         'Guadalupe Island': 5,
         'Indian Beach, Ecola State Park, Clatsop County': 1,
         'Lighthouse Beach, Ballina': 2,
         'Bunkers, Humboldt Bay, Eureka, Humboldt County': 3,
         'Thirteenth Beach': 1,
         'Bells Beach': 1,
         'Bunbury': 7,
         'Ponte Vedra, St. Johns County': 3,
         'Makaha, Oahu': 1,
         'Koumac': 2,
         'Kingston Plantation, Myrtle Beach, Horry County': 1,
         'Injidup ': 1,
         'Refugio State Beach, Santa Barbara County': 1,
         'Boucan Canot': 2,
         'Nassau': 5,
         'Maui': 4,
         'Arenales del Sol': 1,
         'Near Albany': 1,
         'Florida Keys, Monroe County': 9,
         'Irino Beach': 1,
         'Clifton Beach': 1,
         'Green Turtle Cay': 3,
         '20 k off The Spit, off the Gold Coast': 1,
         '8 miles off Mobile': 1,
         'Surfside, Orange County': 1,
         'North Myrtle Beach, Horry County': 5,
         'Tiger Beach': 3,
         'Las Teresitas, Tenerife': 1,
         'Capitola, Santa Cruz County': 1,
         'Off Gloucester, Essec County': 1,
         'Off Palos Verdes peninsula, Los Angeles County': 1,
         'Palm Cove ': 1,
         "Sullivan's Island": 4,
         'Atlantic Beach, Emerald Isle, Carteret County': 2,
         'Ryspunt': 1,
         'Pelican Beach Park, Satellite Beach, Brevard County': 2,
         'Kalapaki Beach, Kauai': 1,
         'Coral Bay': 3,
         'Pirates Beach, Galveston': 1,
         'Flagler Beach, Flagler County': 5,
         'Mindarie': 1,
         'Ain Sokhna': 1,
         'Kingscliff': 1,
         ' Côte-Blanche, Nouméa ': 1,
         'Falcon Beach, Mandurah': 1,
         'Corona Del Mar, Newport, Orange County': 1,
         'Neptune, Duval County': 1,
         'St. Petersburg, Pinellas County': 2,
         'Hugenot Beach , Jacksonville, Duval County': 1,
         'Boca Raton, Palm Beach County': 3,
         'Wailea Beach, Maui': 2,
         'Cormandel': 1,
         'Balian': 4,
         'First Sun Beach, Byron Bay': 1,
         'Makemo Atoll': 2,
         'Off Singer Island, Palm Beach County': 1,
         'Poe Beach': 1,
         'Corners Beach, Jupiter, Palm Beach County': 1,
         'Olowalu, Maui': 4,
         'Bombo Beach': 1,
         'Fort Myers Beach, Lee County': 1,
         'North Cronulla Beach': 1,
         'Bolsa Chica State Park, Orange County': 1,
         'Vero Beach, St. Lucie County': 1,
         'Wrights Bay': 1,
         'Escalerio Beach Balneário Camboriú': 1,
         'Ricaudy Reef, Noumea': 1,
         'Yate': 1,
         'Bavaro Beach, Punta Cana': 1,
         'Stingray City Bar': 1,
         'Nettley Bay': 1,
         'Stradbroke Island': 1,
         'Hams Beach': 1,
         'Estaleirinho beach': 1,
         'Hanalei Bay, Kauai': 2,
         'Hanalei Bay, Kauai, ': 1,
         'Off Surfside': 1,
         '35 miles off Fujairah': 1,
         'Happy Valley Beach, Caloundra': 1,
         'Heron Island': 2,
         'Miall Island': 1,
         'Westbrook Beach': 1,
         'Arinaga Beach, Aguimes, Gran Canaria': 1,
         "La'aloa Beach Park": 1,
         'Bondi Beach': 2,
         'Fernano de Noronha': 1,
         'Boat capsized': 1,
         'Lake Macquarie': 4,
         'Off Andros Island': 1,
         'Mpande': 2,
         'Punta Vicente Roca, Isabella Island': 1,
         'Playalinda Beach, Brevard County': 5,
         'Palm Beach, Palm Beach County': 11,
         'East Ballina': 2,
         'Paradise Beach, Melbourne, Brevard County': 1,
         'Kehena Beach, Hawaii': 1,
         'Maxixe': 1,
         'Bald Island': 1,
         'Malaka, Oahu': 1,
         'Stil Bay': 1,
         'Deerfield Beach, Broward County': 1,
         'Nahaduga, Inhambane Bay': 1,
         'Waikiki, ': 1,
         'Lanikai Beach, Kailua, Oahu': 1,
         'Off Leffingwell Landing, San Luis Obispo County': 1,
         'Shipyard Beach Club, Hilton Head Island, Beaufort County': 1,
         'Leftovers, Oahu': 1,
         'Maxixe, Inhambane Bay': 1,
         'Pyramids Beach': 1,
         'Pepper Park Beach, St. Lucie County': 2,
         'Galveston': 5,
         'Vilano Beach, St.  Johns County': 3,
         'Russel Island, Frankland Group': 1,
         'Horseshoe Rock, Santa Barbara County': 1,
         'Upolu Point, North Kohala, Big Island': 1,
         'Fernandina Beach, Amelia Island, Nassau County': 1,
         'Gaviota State Beach, Santa Barbara County': 1,
         'Big Talbot Island, Duval County': 1,
         'Jacksonville Beach, Duval County': 9,
         'North Shelly Beach': 1,
         'El Pescador Beach, Los Angeles County': 1,
         'Deer Creek Beach, Ventura County': 1,
         'Hallidays Point': 1,
         'Myrtle Beach, Horry County': 17,
         'Karon Beach': 1,
         'Morro Strand State Beach, San Luis Obispo County': 1,
         'Morro Bay, San Luis Obispo County': 1,
         'Lighthouse Beach': 2,
         'Murrells Inlet, Georgetown County': 1,
         'Santa Barbara County': 3,
         'Poniente Beach, Benidorm': 1,
         'Cortes Bank': 1,
         'Playa Grande': 3,
         'Tyrendarra Beach': 1,
         'Edisto Beach, Colleton County': 1,
         'Lachan Island, Mercury Passage': 1,
         'La Jolla, San Diego County': 5,
         'Tyrendarra Beach near Portland': 1,
         'St. Leu': 1,
         "Jeffrey's Bay": 2,
         'Huntington Beach, Orange County': 5,
         'Port Lucaya, Freeport': 1,
         'Off Surf City, Pender County': 1,
         'Ocracoke, Lifeguard Beach, National Park Service, Hyde County': 1,
         'Flat Rock, Yamba': 1,
         'Isle of Palms County Park, Isle of Palms, Charleston County': 1,
         'Rodanthe, Dare County': 2,
         'Buffels Bay near Knysna': 1,
         'Lookout Beach, Plettenberg Bay': 1,
         'South Beach, Hunting Island State Park, Beaufort County': 1,
         'Rottnest Island': 4,
         'Avon, Hatteras Island, Outer Banks, Dare County': 4,
         'Surf City': 1,
         'Denmark': 1,
         'St. Helena Island, Beaufort County': 2,
         'Off Cabo Rojo': 1,
         'Daytona Beach Shores': 2,
         'Oak Island, Brunswick County': 2,
         'Off San Diego': 1,
         'Ocean Isle, Brunswick County': 4,
         'Lori Wilson Park, Cocoa Beach, Brevard  County': 3,
         'Fort Lauderdale': 3,
         'Folette': 1,
         'Avatoru Pass': 1,
         'Kouare ': 1,
         'Saltwater Beach': 1,
         "Port St. John's": 4,
         'Kanahena Cove ': 1,
         "Resident's Beach, Marco Island": 1,
         'Fishery Bay': 1,
         'Belongil Beach, Byron Bay': 1,
         'Cap Homard': 1,
         'McKenzies Beach': 1,
         '3 miles off Jupiter, Palm Beach County': 1,
         'Praia del Chifre, Olinda': 1,
         'Yellow Sands Point': 2,
         'Marsa Alam': 1,
         'Hapuna Beach': 1,
         'Anau': 1,
         'Julian Rocks, Byron Bay': 2,
         'Mazlatan': 1,
         'Tupapati, Hikueru Atoll': 1,
         'Ravine Mula': 2,
         'Shelly Beach': 2,
         'Seven Mile Beach, Byron Bay': 1,
         'Mereweather Beach': 2,
         "Nerang River, Surfer's  Paradise": 1,
         'Lahaina': 1,
         'Flat Rock': 1,
         'Nahoon Beach': 1,
         'Off Panama City': 1,
         'Wategos Beach, Byon Bay': 2,
         'Off Blacksmith Beach': 1,
         'Mollymook Beach, Bannister Head': 1,
         'Tahiti Beach, Elbow Cay': 1,
         'Chintsa East Beach': 1,
         'Windsor Beach, Indian River County': 1,
         'Bherwerre Beach': 1,
         'Three Stripes near Cheynes Beach': 1,
         '33 nautical miles off Othonoi Island': 1,
         'Montaña de Oro State Park, San Luis Obispo County ': 1,
         'Paradise Beach': 1,
         'Rudder Reef': 1,
         'Off Motril': 1,
         'Pyramids Beach, Port Bouvard': 1,
         'Freo': 1,
         'Franklin Point, San Mateo County': 3,
         'Indian Harbor Beach, Brevard County': 1,
         'Airplane Beach, Lahina, West Maui': 1,
         'Moonee Beach': 1,
         'Fort Pierce Inlet State Park, St. Lucie County': 1,
         'North Kohala, Hawaii County': 1,
         'Wallabi Point': 1,
         'Kihei, Maui': 3,
         'Kahului, Maui': 2,
         'Leadbetter Beach, Santa Barbara County': 1,
         'Maalaea, South Maui': 1,
         'Castle Rock, north of Dunsborough': 1,
         'Cherie Down Park, Brevard County': 1,
         'Walls Beach, Vandenberg AFB, Santa Barbara County': 1,
         'Kelpids Beach, Wylie Bay, Esperance': 1,
         'Tiahura Lagoon': 1,
         'Manresa State Beach, Santa Cruz County': 1,
         'Clarkes Beach, Byron Bay': 1,
         'Katrina Cut, Dauphin Island, Mobile County': 1,
         'Manomet Point, Plymouth, Plymouth County': 1,
         'Fletcher Beach, Hutchinson Island, Martin County': 1,
         'Salou': 1,
         'Atlantic Beach, Duval County': 2,
         'Assateague National Seashore': 1,
         'Benidorm': 1,
         'Figure Eight Island,  New Hanover County': 1,
         'Surfside Beach, Horry  County': 1,
         'Apalachicola Bay ': 1,
         'Off Masonboro Island, New Hanover County': 2,
         'Gnaraloo': 1,
         '3 to 4 miles west of Indian Pass, Gulf County': 1,
         'Hallandale Beach, Broward County': 1,
         'Lake Ponchartain off Southshore Harbor, New Orleans': 1,
         'South of Cocoa Beach, Brevard County': 1,
         'Table Beach, Brevard County': 1,
         'Muizenberg': 5,
         'Sunset Beach, Brunswick County': 1,
         'Indialantic, Brevard County': 4,
         'Teresita, Santa Cruz, Tenerife': 1,
         'Paia Bay, Maui': 2,
         'Okaloosa Island': 1,
         'Masonboro Island, New Hanover County': 3,
         'Manhattan Beach, Los Angeles County': 1,
         'Oceano Dunes State Beach, San Luis Obispo County': 1,
         'Isle of Palms, Charleston County': 14,
         '20 miles from shore': 1,
         'Middleton Point, Fleurieu Peninsula': 2,
         'Horizontal Falls': 1,
         '500 km off the coast of Pernambuco': 1,
         'Cape Henlopen State Park, Sussex County': 1,
         'Parsons Beach,  Fleurieu Peninsula': 1,
         'Aichi': 1,
         'West Beach, Galveston': 1,
         'Seven Mile Beach, Gerroa': 2,
         'Nerang River near Chevron Island': 1,
         'Wallis Island': 1,
         'The Australian Shark and Ray Centre': 1,
         'Juan Ponce de León Landing, Melbourne Beach, Brevard County': 1,
         'Elliston, Eyre Peninsula': 1,
         'Tybee Island, Chatham County': 3,
         'Bethel Shoals, Indian River County': 1,
         'Coligny Beach, Hilton Head, Beaufort County': 3,
         'Simonstown': 1,
         'South Passage, south of Coral Bay': 1,
         'Port Alfred': 7,
         'Tathra': 1,
         'Off Dawesville Cut': 1,
         'Second Beach, Port St Johns': 1,
         'Delray Beach': 2,
         'Macarthur State Park': 1,
         'Winkipop Beach': 1,
         'Santa Lucea Beach, South Hutchinson Island, St. Lucie County': 1,
         'Huahine': 1,
         'Goldsmith Beach, Yorke Peninsula': 1,
         'Porpoise Bay': 1,
         'Umina Beach': 1,
         'Garden Bay near Cosy Nook': 1,
         'Off Miyako Island': 1,
         'Stewart Island': 2,
         'Lindéralique, Hienghène': 1,
         'Die Platt': 1,
         'Ninole Bay, Hawaii County': 1,
         'Shelly Beach, near Port Macquarie': 2,
         'Between  Makena & Molokini, Maui': 1,
         'Riecks Point,  Campbell’s Beach, ': 1,
         'Keawekapu Beach, Kihei, Maui': 1,
         'Gleneden Beach, Lincoln County': 1,
         'Trigg Beach, Perth': 1,
         'Off Cape Eleuthera': 1,
         'Bay Head, Ocean County': 1,
         'Kanaha Beach, Maui': 3,
         'Turquoise Bay': 1,
         'Little Island, near Hillarys': 1,
         'South Narrabeen Beach': 1,
         'Waiehu, Maui': 1,
         "Pila'a Beach, Kaua'i": 1,
         'Miami Beach': 1,
         "Albatros Point, near Jeffrey's Bay": 1,
         'Off Poison Creek, Cape Arid': 1,
         'Ashdod': 1,
         'Panama City, Bay County': 6,
         'Carlin Park, Jupiter, Palm Beach County': 1,
         'Casino Beach, Pensacola, Escambia County': 1,
         'New Smyrna Beach,  Volusia County': 3,
         'Key West Aquarium': 1,
         'St Augustine Beach, St Johns County': 2,
         'Freetown Beach': 1,
         'Butterfly Beach, Montecito, Santa Barbara County': 1,
         'Catalina Channel': 1,
         'Winterhaven Park,           Ponce Inlet, Volusia County': 1,
         'Smiths': 1,
         'Pohoiki ': 1,
         'Pillar Point, Half-Moon Bay, San Mateo County': 1,
         'Makenat, Maui': 1,
         "Ka'a Point, Maui": 1,
         'Folly Beach': 2,
         'Sanibel Island, Lee County': 8,
         'Ulua Beach, Maui': 1,
         'Scotland Cay': 1,
         'Compass Cay': 1,
         'Grand Cay': 3,
         'Boa Viagem Beach, Recife': 9,
         'Gulf Shores, Baldwin County': 6,
         'Butler Beach, St Augustine,       St. Johns County': 1,
         'Le cimetière marin': 1,
         'Holden Beach. Brunswick County': 3,
         'Sant Marti d’Empuries Beach, L’Escala': 1,
         'Port Royal': 2,
         'Pacific State , San Mateo County': 1,
         'Jacksonville, Duval County': 7,
         'Kiawah Island, Charleston County': 3,

le paso una lista con todas las ciudades con costa del mundo, si esta ahi se queda. JAJAAJAJA

##

# -Free Project-

## Fatality of the attack

In [626]:
fatal = db['Fatal (Y/N)']

In [627]:
Counter(db['Fatal (Y/N)'])

Counter({'N': 4293,
         'Y': 1388,
         nan: 539,
         'M': 1,
         'UNKNOWN': 71,
         '2017': 1,
         ' N': 7,
         'N ': 1,
         'y': 1})

We interpret:
* 'y' is really 'Y'
* 'M' is a typo for 'N' (proximity on keyboard)
* ' N' and 'N ' are really 'N'

In [628]:
def correct_fatality(fatal):
    fatal = str(fatal).strip()
    if fatal == 'M':
        return 'N'
    elif fatal in ['N', 'Y']:
        return fatal
    else:
        return np.nan

In [629]:
db['Fatal (Y/N)'] = db['Fatal (Y/N)'].apply(correct_fatality)

In [630]:
Counter(db['Fatal (Y/N)'])

Counter({'N': 4302, 'Y': 1388, nan: 612})

##

## Type of accident

In [631]:
Counter(db['Type'])

Counter({'Boating': 203,
         'Unprovoked': 4595,
         'Invalid': 547,
         'Provoked': 574,
         'Questionable': 2,
         'Sea Disaster': 239,
         nan: 4,
         'Boat': 137,
         'Boatomg': 1})

In [632]:
type_ = db['Type']

What we are really interested about here is finding out weather the attack was provoked or unprovoked.

For that reason, from now on we assign: 
* 'Boatomg', 'Boating' and 'Boat' are provoked types of attack
* 'Sea Disaster' are unprovoked types of attack
* 'Questionable' are provoked types of attack
* 'Invalid' are NaN values

In [633]:
def correct_type(type_):
    if type_ in ['Boatomg', 'Boating', 'Boat', 'Questionable']:
        return 'Provoked'
    elif type_ == 'Sea Disaster':
        return 'Unprovoked'
    else:
        return np.nan

In [634]:
db['Type'] = db['Type'].apply(correct_type)

In [635]:
Counter(db['Type'])

Counter({'Provoked': 343, nan: 5720, 'Unprovoked': 239})

##

### Saving the clean dataset

In [636]:
db.to_csv('mas_limpio_que_don_limpio.csv')